In [ ]:
def add(x,y):
  z=x+y
  print(z)

In [ ]:
add(2,3)

5

In [ ]:
type(add(2,3))

5

NoneType

In [ ]:
def subtract(x,y):
  z=x-y
  return z

In [ ]:
type(subtract(2,3))

int

In [ ]:
add(2,3) + 5 #'NoneType' and 'int'

5

TypeError: ignored

In [ ]:
subtract(2,3) + 5

4

In [ ]:
def test3(n, m ):
    return n*10 , m*40 ,m+n

In [ ]:
test3(2,7) # by default return gives multiple value o/p in tuple

(20, 280, 9)

In [ ]:
c,x,v = test3(2,7)

In [ ]:
x

280

In [ ]:
c,_, x = test3(2,7) # underscore is placeholder for 3rd operation's o/p as i dont want result of 3rd operation... ( _ ) this gives any random no instead of o/p ...
# without ( _ ) unpacking is not possible thats why we used it

In [ ]:
x , _

(9, 280)

In [ ]:
def subtract(x,y,z):
  return x+y # usually first operation
  return y-z 
subtract(1,2,3)

3

In [ ]:
def subtract(x,y,z):
  return x-y 
  return y-z # override x-y as both same operations so last operation excutes
subtract(1,2,3)

-1

In [ ]:
def subtract(x,y,z):
  return x+y #  usually first operation
  return y*z 
subtract(1,2,3)

3

In [ ]:
def fun(whatever):
  return whatever * 2
fun([1,2,3,4])

[1, 2, 3, 4, 1, 2, 3, 4]

In [ ]:
fun(15)

30

In [ ]:
def add(x, y=10 ): # by default giving value of y
  return x+y
add(20) # we can pass only 1 value cause 1 value is by default given

30

In [ ]:
add(20,30) # overriding the default value

50

In [ ]:
def add(x=10, y=10 ): 
  return x+y
add() # calling without argument ........u can override this at runtime

20

In [ ]:
def add(x=10, y=10 ): 
  return x+y
add(y=30) # order matters

40

In [ ]:
def name(*args): # *args takes multiple arguments or input 
  return args
name("anuja",12,(5,2,3,))

('anuja', 12, (5, 2, 3))

In [ ]:
def name(*args): # *args hold data in tthe form of iterable
  lst=[]
  for i in args:
    lst.append(i)
  return lst
  
name([1,2,3,4],[5,6,7,8],[9,10,11],[12,13,14,15])

[[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11], [12, 13, 14, 15]]

In [ ]:
def name(*args): # *args hold data in the form of iterable
  lst=[]
  for i in args:
    lst.extend(i)
  return lst
  
name([1,2,3,4],[5,6,7,8],[9,10,11],[12,13,14,15])

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

In [ ]:
def mul(*args):
  return [i for i in args]

In [ ]:
mul([1,2,3,4],[5,6,7,8])

[[1, 2, 3, 4], [5, 6, 7, 8]]

In [ ]:
def mul(**kwargs): #pass unlimited data but only in format of key-value pair, keyward argument -parameter
  return kwargs

mul(a="anuja",c=[1,2] ,z="dream")

{'a': 'anuja', 'c': [1, 2], 'z': 'dream'}

In [ ]:
def func1(*args):
  dt = {}
  for i in args:
    if type(i) in dt:
      dt[type(i)].append(i)
    else:
      dt[type(i)] = [i] 
  return dt
    
func1(1,2,3,[5,6,7],'hi','io', 6+7j , 6+4j , {"a":"bc","c":"dccc"} )

{int: [1, 2, 3],
 list: [[5, 6, 7]],
 str: ['hi', 'io'],
 complex: [(6+7j), (6+4j)],
 dict: [{'a': 'bc', 'c': 'dccc'}]}

In [ ]:
 {'g': 2, 'o': 3, 'l': 1, 'e': 1, '.': 1, 'c': 1, 'm': 1}