In [1]:
if __name__ == '__main__':
    x = int(input())
    y = int(input())
    z = int(input())
    n = int(input())
    
    l1=[[i,j,k] for i in range(0,x+1) for j in range(0,y+1) for k in range(0,z+1) if 
    (i+j+k)!=n ]
    print(l1)

1
1
2
3
[[0, 0, 0], [0, 0, 1], [0, 0, 2], [0, 1, 0], [0, 1, 1], [1, 0, 0], [1, 0, 1], [1, 1, 0], [1, 1, 2]]

In [4]:
if __name__ == '__main__':
    n = int(input())
    arr = map(int, input().split())
    arr2 = list(set(arr))
    arr2.sort()
    print(arr2[-2])

2
5 4 6 2 3 4 5 6 7
6

In [5]:
if __name__ == '__main__':
    n = int(input())
    for i in range(n):
        arr = map(int, input().split())
        arr2 = list(set(arr))
        arr2.sort()
        print(arr2[-2])

5
2

IndexError: list index out of range

In [13]:
if __name__ == '__main__':
    n = int(input())
    arr = map(int, input().split())[:n]

5
1 2 3 4 5 6

TypeError: 'map' object is not subscriptable

In [12]:
n = int(input())
arr = list(map(int, input().split()))[:n]
arr

5
1 2 3 45 4 5 5 6 7

[1, 2, 3, 45, 4]

In [15]:
if __name__ == '__main__':
    n = int(input())
    arr = list(map(int, input().split()))[:n] # only takes [:n] element
    arr2 = list(set(arr))
    arr2.sort()
    print(arr2[-2])

5
1 2 3 4 5 6
4

# for _ in range(int(input())):

In [17]:
for i in range(int(input())):
        name = input()

2
anuja
anuija

In [16]:
for i in range(int(input())):
    name = input()
    score = float(input())
    students = []
    students.append((name, score))

5
anuja
55
sakshi
54
kirtee
35
katha
58
meena
56

In [1]:
# Initialize an empty list to store the student names and scores
students = []
n = int(input())
for _ in range(n):
    name = input()
    score = float(input())
    students.append((name, score))
    
students.sort(key=lambda x: x[1])
second_lowest_score = sorted(set(score for _, score in students))[1]
second_lowest_students = [name for name, score in students if score == second_lowest_score]

second_lowest_students.sort()
for name in second_lowest_students:
    print(name)

3
anuja
34
katha
54
mina
56
katha

In [2]:
squares = [x**2 for x in range(1, 6)] ##  []
type(squares)

list

In [3]:
unique_squares = {x**2 for x in range(1, 6)} ##  {}
type(unique_squares)

set

In [12]:
result_dict = {}

for x in range(1, 6):
    result_dict[x] = x**2

print(result_dict)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [13]:
squares_dict = {x: x**2 for x in range(1, 6)}
print(squares_dict)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [5]:
squares_generator = (x**2 for x in range(1, 6))  ### ()
type(squares_generator)

generator

In [11]:
for x in range(1, 6):
    print({x:x**2})

{1: 1}
{2: 4}
{3: 9}
{4: 16}
{5: 25}