In [1]:
import numpy as np 
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [2]:
df=pd.read_csv(r'C:\Users\Anuja\Music\New folder\blood_pressure.csv')

In [3]:
df.shape

(2000, 15)

In [4]:
df.isnull().sum()

Patient_Number                      0
Blood_Pressure_Abnormality          0
Level_of_Hemoglobin                 0
Genetic_Pedigree_Coefficient       92
Age                                 0
BMI                                 0
Sex                                 0
Pregnancy                        1558
Smoking                             0
Physical_activity                   0
salt_content_in_the_diet            0
alcohol_consumption_per_day       242
Level_of_Stress                     0
Chronic_kidney_disease              0
Adrenal_and_thyroid_disorders       0
dtype: int64

In [5]:
df.dtypes

Patient_Number                     int64
Blood_Pressure_Abnormality         int64
Level_of_Hemoglobin              float64
Genetic_Pedigree_Coefficient     float64
Age                                int64
BMI                                int64
Sex                                int64
Pregnancy                        float64
Smoking                            int64
Physical_activity                  int64
salt_content_in_the_diet           int64
alcohol_consumption_per_day      float64
Level_of_Stress                    int64
Chronic_kidney_disease             int64
Adrenal_and_thyroid_disorders      int64
dtype: object

In [6]:
df.Genetic_Pedigree_Coefficient=df.Genetic_Pedigree_Coefficient.fillna(df["Genetic_Pedigree_Coefficient"].median())

In [7]:
df.Genetic_Pedigree_Coefficient.count()

2000

In [8]:
df.alcohol_consumption_per_day=df.alcohol_consumption_per_day.fillna(df['alcohol_consumption_per_day'].median())

In [9]:
df.alcohol_consumption_per_day.count()

2000

In [10]:
df.isnull().sum()

Patient_Number                      0
Blood_Pressure_Abnormality          0
Level_of_Hemoglobin                 0
Genetic_Pedigree_Coefficient        0
Age                                 0
BMI                                 0
Sex                                 0
Pregnancy                        1558
Smoking                             0
Physical_activity                   0
salt_content_in_the_diet            0
alcohol_consumption_per_day         0
Level_of_Stress                     0
Chronic_kidney_disease              0
Adrenal_and_thyroid_disorders       0
dtype: int64

In [11]:
df['Pregnancy'].value_counts()

0.0    243
1.0    199
Name: Pregnancy, dtype: int64

# 50% missing data then drop column
# drop unique id

In [12]:
df

,Patient_Number,Blood_Pressure_Abnormality,Level_of_Hemoglobin,Genetic_Pedigree_Coefficient,Age,BMI,Sex,Pregnancy,Smoking,Physical_activity,salt_content_in_the_diet,alcohol_consumption_per_day,Level_of_Stress,Chronic_kidney_disease,Adrenal_and_thyroid_disorders
0,1,1,11.28,0.90,34,23,1,1.0,0,45961,48071,250.0,2,1,1
1,2,0,9.75,0.23,54,33,1,NaN,0,26106,25333,205.0,3,0,0
2,3,1,10.79,0.91,70,49,0,NaN,0,9995,29465,67.0,2,1,0
3,4,0,11.00,0.43,71,50,0,NaN,0,10635,7439,242.0,1,1,0
4,5,1,14.17,0.83,52,19,0,NaN,0,15619,49644,397.0,2,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,1996,1,10.14,0.02,69,26,1,NaN,1,26118,47568,144.0,3,1,0
1996,1997,1,11.77,1.00,24,45,1,1.0,1,2572,8063,250.0,3,1,1
1997,1998,1,16.91,0.22,18,42,0,NaN,0,14933,24753,250.0,2,1,1
1998,1999,0,11.15,0.72,46,45,1,NaN,1,18157,15275,253.0,3,0,1
1999,2000,1,11.36,0.09,41,45,0,NaN,0,20729,30463,230.0,1,1,0

### wap to sort array

In [13]:
a = np.array([[1,4],[3,1]])
np.sort(a)

array([[1, 4],
       [1, 3]])

### WAP to accept 2 array from user and join them

In [14]:
a=input("enter first array :")
x=np.array(a)
b=input("enter first second : ")
y=np.array(b)
cat = np.stack((x,y), axis=0)        
print(cat)

enter first array :
enter first second :
['' '']

In [15]:
df=pd.read_csv(r'C:\Users\Anuja\Music\New folder\blood_pressure.csv')

In [18]:
df12=pd.read_csv(r'C:\Users\Anuja\Downloads\train_Hr.csv')

In [22]:
df12.isnull().sum()

employee_id                0
department                 0
region                     0
education               2409
gender                     0
recruitment_channel        0
no_of_trainings            0
age                        0
previous_year_rating    4124
length_of_service          0
KPIs_met >80%              0
awards_won?                0
avg_training_score         0
is_promoted                0
dtype: int64

In [23]:
df12.drop('education', axis=1, inplace=True)

In [24]:
df12.drop('previous_year_rating', axis=1, inplace=True)

In [25]:
df12.isnull().sum()

employee_id            0
department             0
region                 0
gender                 0
recruitment_channel    0
no_of_trainings        0
age                    0
length_of_service      0
KPIs_met >80%          0
awards_won?            0
avg_training_score     0
is_promoted            0
dtype: int64

In [26]:
df12.head(2)

,employee_id,department,region,gender,recruitment_channel,no_of_trainings,age,length_of_service,KPIs_met >80%,awards_won?,avg_training_score,is_promoted
0,65438,Sales & Marketing,region_7,f,sourcing,1,35,8,1,0,49,0
1,65141,Operations,region_22,m,other,1,30,4,0,0,60,0

In [27]:
df["gender"].astype("int")

ValueError: invalid literal for int() with base 10: 'f'