In [1]:
import keyword

In [2]:
x,y=20,6

In [3]:
print(x)

20

In [4]:
x

20

In [5]:
y

6

In [6]:
x=y=90

In [7]:
#unpack collection
girls=["Anuja","Nisha","Sonu","Aaradhya"]
print(girls)

['Anuja', 'Nisha', 'Sonu', 'Aaradhya']

In [8]:
a,b,c,d=girls
print(a)
print(b)
print(c)
print(d)
print(a,b,c,d)

Anuja
Nisha
Sonu
Aaradhya
Anuja Nisha Sonu Aaradhya

In [9]:
girls=["Anuja","Nisha","Sonu","Aaradhya"]
girls
a,b,c,d=girls
#print(a)
#print(b)
#print(c)
#print(d)
a
#b

'Anuja'

In [10]:
a=20
a

20

In [11]:
a=30
a

30

In [12]:
x="Python is awesome"
print(x)

Python is awesome

In [13]:
x="Python"
y="is"
z="awesome"
print(x,y,z)

Python is awesome

In [14]:
print(x + y + z)

Pythonisawesome

In [15]:
x=3
y=10
print(x+y)

13

In [16]:
x="india"
x

'india'

In [17]:
x="20"
y="90"
x+y #joining/concatination

'2090'

In [18]:
x1=4
x2="Omkar"
print(x1,x2)

4 Omkar

# Data Types

In [19]:
x="india"
print(x)

india

In [20]:
print(type(x))

<class 'str'>

In [21]:
x1=90.08
print(type(x1))

<class 'float'>

In [22]:
x2=1j
print(type(x2))

<class 'complex'>

In [23]:
x3=True
type(x3)

bool

In [24]:
x4=None
type(x4)

NoneType

In [25]:
#casting a variable tyoe
b=int(30.90)
b

30

In [26]:
type(b)

int

In [27]:
b1=str(b)
b1

'30'

In [28]:
type(b1)

str

In [29]:
b2=float(b1)
b2

30.0

In [30]:
type(b2)

float

In [31]:
b3=complex(b2)
b3

(30+0j)

In [32]:
type(b3)

complex

In [33]:
b4=bool(b3)
b4

True

In [34]:
type(b4)

bool

In [35]:
import sys

In [36]:
c=3099
c

3099

In [37]:
sys.getsizeof(c)

28

In [38]:
a="hello world!"
print(a)

hello world!

In [39]:
a[0]#indexing start with '0' always

'h'

In [40]:
a[0:4]

'hell'

In [41]:
print(len(a))

12

In [42]:
a1="edubridgeindia"
a1

'edubridgeindia'

In [43]:
a1[6:9]

'dge'

In [44]:
a1[11:14]

'dia'

In [45]:
a2="consectetur adipiscing elit"
a2

'consectetur adipiscing elit'

In [46]:
a2[3:7]

'sect'

In [47]:
a2[7:11]

'etur'

In [48]:
a2[24:27]

'lit'

In [49]:
a2[15:20]

'pisci'

In [50]:
a2[10:27]

'r adipiscing elit'

In [51]:
a2[0:11]

'consectetur'

In [52]:
#-v indexing 
a2="hello"
a2

'hello'

In [53]:
a2[-1:-3]

''

In [54]:
a2[2:5]

'llo'

In [55]:
a2[-3:]

'llo'

In [56]:
a2[-5:-2]

'hel'

In [57]:
a2[:-2]

'hel'

In [58]:
a1="India is my country"
a1

'India is my country'

In [59]:
a1[-10:-8]

'my'

In [60]:
a1[-5:-2]

'unt'

In [61]:
a1[-15:-11]

'a is'

In [62]:
a1[-18:-15]

'ndi'

In [63]:
a1[-9:-5]

'y co'

In [64]:
b1="""India is my country,
    I am living in maharashtra.
    My name is Nisha"""

In [65]:
b1

'India is my country,\n    I am living in maharashtra.\n    My name is Nisha'

In [66]:
a=20
b=30
c=a+b
print(a,end="\t")#tab/ 4 white space
print(a,end="\b")#backspace

20	20

In [15]:
print("Namaste", "India", sep="# ")# sep = specify string i.e printed between 2 strings
print("Namaste", end=", ") # end = specify string i.e printed at the end of the line..(end ="\n" in loops)
print("India")
print("Namaste", "India", sep="\n")

Namaste# India
Namaste, India
Namaste
India

In [67]:
print(a,b,sep='-',end="!")

20-30!

In [68]:
input()

12

'12'

In [69]:
input("Enter your name: ")

Enter your name: anuja

'anuja'

In [70]:
input("enter first no: ")
input("second no: ")

enter first no: 12
second no: 12

'12'

# Modification of string

In [71]:
z="india"
z

'india'

In [72]:
z1=z.upper()

In [73]:
z1=z.upper() 
z1

'INDIA'

In [74]:
z2=z1.lower()
z2

'india'

In [75]:
z3="  hello, World!  "  
z3

'  hello, World!  '

In [76]:
z4=z3.strip()#remove unwanted space from start and end
z4

'hello, World!'

In [77]:
z4

'hello, World!'

In [78]:
z5=z4.replace("h","M")
z5

'Mello, World!'

In [79]:
z5=z4.replace("World","Nisha")
z5

'hello, Nisha!'

# split function

In [80]:
print(z4.split(","))

['hello', ' World!']

In [6]:
"anuja kanawade".split()# by default space

['anuja', 'kanawade']

In [8]:
"anuja kanawade".split("a")# find a

['', 'nuj', ' k', 'n', 'w', 'de']

In [9]:
"anuja kanawade".split("#",1)# find a

['anuja kanawade']

# Concatenation of string

In [81]:
a1="Hello"
b1="everyone"
c1=a1+b1
c1

'Helloeveryone'

In [82]:
c2=a1+" "+b1
c2

'Hello everyone'

In [83]:
a="india"
a*2

'indiaindia'

In [84]:
a1=20
a1*4

80

In [85]:
b="helloworld"
b[-5:-2]

'wor'

In [86]:
a="anuja kanawade"
a[-13:-7]

'nuja k'

In [87]:
a="density based spatial cluster"

In [88]:
a[3:7]

'sity'

In [89]:
a[-26:-22]

'sity'

In [90]:
a[17:21]

'tial'

In [91]:
a[-12:-8]

'tial'

In [92]:
a[22:26]

'clus'

In [93]:
a[-7:-3]

'clus'

In [94]:
a[10:13]

'sed'

In [95]:
a[-19:-16]

'sed'

In [96]:
a[14:21]

'spatial'

In [97]:
a[-15:-8]

'spatial'

In [98]:
# formating string
age=20
name="nisha"
t="my name is {} , i am {}"
print(t.format(name,age))

my name is nisha , i am 20

In [99]:
quantity = 3
itemno = 567
price = 49.95
myorder = "I want to pay {2} dollars for {0} pieces of item {1}."
print(myorder.format(quantity, itemno, price))

I want to pay 49.95 dollars for 3 pieces of item 567.

In [100]:
print("my name is \"anuja\". ")

my name is "anuja".

In [101]:
print("hello\nnisha")

hello
nisha

In [102]:
a=10
print("the value is {}".format(a))

the value is 10

In [103]:
#specifiers ========= %f = float , %s = string  , %d = integer

In [104]:
name="nisha"
print("hello my name is %s" %(name))

hello my name is nisha

In [105]:
a=10
b="john"
c=20.33
print("the age is %d name is %s and height is %f" %(a,b,c))

the age is 10 name is john and height is 20.330000

In [106]:
print("the age is {} name is {} and height is {}".format(a,b,c))

the age is 10 name is john and height is 20.33

In [107]:
print("the age is",a,"name is",b,"and height is",c)

the age is 10 name is john and height is 20.33

In [108]:
#booblean for null bool is false

In [109]:
print(bool(12),bool("anuja"),bool(""))

True True False

# python operators

1 arithmetic
2 assignment
3 comaprison
4 logical
5 Identity
6 Membership

### arithmetic operators

#### +  ,  - ,  *,  / , % , ** , //

In [110]:
4%2 # remainder modulus division

0

In [111]:
4/2

2.0

In [112]:
2**2 #exponential

4

In [113]:
15//2  # floor division (division= 7.5 so floor =7 & ceiling = 8)

7

### assignment operators

## =  , +=  , -=  , *= , /= , %= , //= , **=

In [114]:
x=5
x+=3
x

8

In [115]:
x -= 1
x

7

In [116]:
x *= 2
x

14

In [117]:
x %= 2
x

0

In [118]:
x=5
x //= 3
x

1

In [119]:
x **= 3
x

1

### comparison operators

## ==, != , > , < , <= ,>=

In [120]:
20==10

False

In [121]:
2 != 20 #not equal to

True

In [122]:
30<10

False

In [123]:
30>10

True

In [124]:
10<=30

True

## logical operators

### AND , OR , NOT

In [125]:
x<5 and x>10

False

In [126]:
x<2 and x>20

False

In [127]:
x>2 and x>1

False

In [128]:
x=3
y=2

In [129]:
x==3 and y==2

True

In [130]:
# if any one condition is true then result is true

In [131]:
x>1 or y >3 # T or F == T

True

In [132]:
x> 5 or y>5 #F or F === F

False

In [133]:
not(x> 5 or y>5) ## not(False)

True

### Identity operators ( works with memory location) 
comparison operators(compare elements)

### is , is not

In [134]:
x="anuja"
y="anuja"
print(x is y)
print(id(x),id(y))

True
1881286346800 1881286346800

In [135]:
a=["anuja"]
b=["anuja"]
print(a is b)
print(id(a),id(b))

a=b #making them same 
print(a is b)
print(id(a),id(b))

False
1881269010624 1881269022592
True
1881269022592 1881269022592

In [136]:
a=["apple","banana"]
b=["apple","banana"]
print("using \"comparison\" operator a==b :",a==b)
print("using \"is\" operator a is b:",a is b)
print("using \"is not\" operator a is not b:" ,a is not b)

using "comparison" operator a==b : True
using "is" operator a is b: False
using "is not" operator a is not b: True

In [137]:
print(a!=b) # not equal operator ...but the elements re same

False

In [138]:
a=20,30
b=10,40
print(a is b)

False

### Membership operators = in , not in

In [139]:
x1=["red","blue","black"]
print("red" in x1)
print("red" not in x1) ## red is member of x1

True
False

In [140]:
help("binary value")

No Python documentation found for 'binary value'.
Use help() to get the interactive help utility.
Use help(str) for help on the str class.

## Bitwise operator

In [141]:
print(bin(-4).replace("0b", ""))

-100

In [142]:
print(8 & 2) # and operator

0

In [143]:
print(~3) # not operator

-4

In [144]:
first_name ="anuja"
last_name = "kanawade"
print("my name is {} {}".format(first_name,last_name))
print("my name is {1} {0}".format(first_name,last_name))

my name is anuja kanawade
my name is kanawade anuja

In [145]:
print("my name is %s %s" %(first_name,last_name))

my name is anuja kanawade

In [146]:
a="anuja"
b=int(a)
type(b)

ValueError: invalid literal for int() with base 10: 'anuja'

In [147]:
a="1234"
b=int(a)
type(b)

int

In [148]:
a=5+3j
type(a)
b=int(a)
type(b)

TypeError: int() argument must be a string, a bytes-like object or a real number, not 'complex'

# LIST

[]
built in data type 
contained mixed data items
1-D
ordered , mutable(changeable) , allows duplicates

In [149]:
l1=["anuja",56,2.5,True] # mixed data items

In [150]:
l1[1::-1]

[56, 'anuja']

In [151]:
l1[1]=0
print(l1) # changeable

['anuja', 0, 2.5, True]

In [152]:
l1.insert(3,2.5) # only at particular index (index,element to add)
print(l1)

['anuja', 0, 2.5, 2.5, True]

In [153]:
l1[1:3]=["a","b"]
l1

['anuja', 'a', 'b', 2.5, True]

In [154]:
list1=["pune","mumbai",100,333,22.34,90.89,True,"Delhi","Red",45]

In [155]:
list1[1:4]

['mumbai', 100, 333]

In [156]:
list1[5:8]

[90.89, True, 'Delhi']

In [157]:
list1[-2:]

['Red', 45]

In [158]:
list1[:4]

['pune', 'mumbai', 100, 333]

In [159]:
list1.insert(7,"bangalore")

In [160]:
list1

['pune',
 'mumbai',
 100,
 333,
 22.34,
 90.89,
 True,
 'bangalore',
 'Delhi',
 'Red',
 45]

In [161]:
list1[-2] ="black"
list1

['pune',
 'mumbai',
 100,
 333,
 22.34,
 90.89,
 True,
 'bangalore',
 'Delhi',
 'black',
 45]

In [162]:
list1[1:4]=["india","chennai","noida"]

In [163]:
list1

['pune',
 'india',
 'chennai',
 'noida',
 22.34,
 90.89,
 True,
 'bangalore',
 'Delhi',
 'black',
 45]

In [164]:
list1.append(1000)

In [165]:
print(list1)

['pune', 'india', 'chennai', 'noida', 22.34, 90.89, True, 'bangalore', 'Delhi', 'black', 45, 1000]

In [166]:
a1=[1,2,3]
a2=[4,5,6]
a1.extend(a2)
print(a1)

[1, 2, 3, 4, 5, 6]

In [167]:
a1.append(a2)

In [168]:
a1

[1, 2, 3, 4, 5, 6, [4, 5, 6]]

# Adding elements to list - insert , append , extend 

insert - add element at particular location .
        can add only single element.at particular loc.
        u can also add whole list bt that will become nested list.
        
append - add element last position

extend - add elements combine elements of 2 lists

# remove(),pop(),del(),clear(),

In [169]:
print(list1)

['pune', 'india', 'chennai', 'noida', 22.34, 90.89, True, 'bangalore', 'Delhi', 'black', 45, 1000]

In [170]:
list1.remove("pune")

In [171]:
print(list1)

['india', 'chennai', 'noida', 22.34, 90.89, True, 'bangalore', 'Delhi', 'black', 45, 1000]

In [172]:
list1.pop(0)
print(list1)

['chennai', 'noida', 22.34, 90.89, True, 'bangalore', 'Delhi', 'black', 45, 1000]

In [173]:
list1.pop() # by default last element del

1000

In [174]:
print(list1)

['chennai', 'noida', 22.34, 90.89, True, 'bangalore', 'Delhi', 'black', 45]

In [175]:
del list1[0]
print(list1)

['noida', 22.34, 90.89, True, 'bangalore', 'Delhi', 'black', 45]

In [176]:
del list1 #delete list

In [177]:
print(list1)

NameError: name 'list1' is not defined

In [178]:
l1=['chennai', 'noida', 22.34, 90.89, True, 'bangalore', 'Delhi', 'black', 45, 1000]

In [179]:
l1.clear() # only delete elements not list
print(l1)

[]

In [193]:
a1=["anuja","i", "am","happy"]

In [194]:
print([x for x in a1 if "a" in x])

['anuja', 'am', 'happy']

In [196]:
a1.sort() # to use sort ur list must have same data type
print(a1) # default ascending

['am', 'anuja', 'happy', 'i']

In [197]:
a1.sort(reverse=True)
print(a1)

['i', 'happy', 'anuja', 'am']

In [198]:
a1.reverse()
a1

['am', 'anuja', 'happy', 'i']

In [199]:
a1.reverse()
a1

['i', 'happy', 'anuja', 'am']

copy = original data is not changed

In [202]:
a2=a1.copy()

In [205]:
a2[0] = 12

In [207]:
print(a1)
print(a2)

['i', 'happy', 'anuja', 'am']
[12, 'happy', 'anuja', 'am']

In [208]:
a3 = a1+a2
print(a3)

['i', 'happy', 'anuja', 'am', 12, 'happy', 'anuja', 'am']

In [13]:
a3[0] = "mumbai-pune"
print(a3)
print(a1)

['mumbai-pune', 'india', 'chennai', 'noida', 22.34, 90.89, True, 'bangalore', 'Delhi', 'black', 45, 1000]
['pune', 'india', 'chennai', 'noida', 22.34, 90.89, True, 'bangalore', 'Delhi', 'black', 45, 1000]

## take one list do remove,clear,del ,append, extend
concatenation operation

In [1]:
l1=['chennai', 'noida', 22.34, 90.89, True,'Delhi', 'black', 45, 1000]
print(l1)

['chennai', 'noida', 22.34, 90.89, True, 'Delhi', 'black', 45, 1000]

In [2]:
l1.remove(22.34)
print(l1)

['chennai', 'noida', 90.89, True, 'Delhi', 'black', 45, 1000]

In [5]:
del l1[0]
print(l1)

['noida', 90.89, True, 'Delhi', 'black', 45, 1000]

In [8]:
l1.clear()

In [9]:
print(l1)

[]

In [12]:
l1.append("anuja")

In [13]:
print(l1)

['anuja']

In [14]:
l2=[2,3,4]

In [15]:
l1.extend(l2)

In [16]:
print(l1)

['anuja', 2, 3, 4]

In [18]:
l3=['anuja', 2, 3, 4]

In [19]:
print(l1+l3)

['anuja', 2, 3, 4, 'anuja', 2, 3, 4]

## tuple

In [29]:
#()
#mixed data types
#immutable /unchangeble
#ordered preserve
#can not remove element
#1-d
#allows duplicates

(),ordered,duplicates allowed
mix data types,
immutable(cant add or remove elements , (clear,append,insert not works)
only del method work with tuple

In [33]:
#here u can do indexing like list
t=tuple((1,"anuja",True)) 
# for passing elements directly in tuple there must be (( ))
# in single () bracket just need to write single obj.

In [37]:
t=tuple(1,"anuja",True)

TypeError: tuple expected at most 1 argument, got 3

In [38]:
t=(1,"anuja",True)

In [39]:
mytuple=tuple(t)
print(mytuple)

(1, 'anuja', True)

In [34]:
t1 = ('physics', 'chemistry', 1997, 2000)

In [25]:
#unpacking of tuple this can be use with others data types
t3=("aaa","vvv","mmm")
(ttt,sss,ppp)=t3

# ttt , sss this are elements & "aaa" this are lables .
#you can only access lables using elements 

print(ttt)
print(sss)
print(ppp)

aaa
vvv
mmm

In [27]:
t4=t1+t3
print(t4)

('physics', 'chemistry', 1997, 2000, 'aaa', 'vvv', 'mmm')

In [28]:
t5 = t1*2
print(t5)

('physics', 'chemistry', 1997, 2000, 'physics', 'chemistry', 1997, 2000)

In [14]:
a, b, *c, d = [1, 2, 3, 4, 5, 6, 7, 8, 9]
print(a , b ,c, d , sep="---")

1---2---[3, 4, 5, 6, 7, 8]---9

## set

### add , update , remove, discard, pop,clear,del,union,intersection,symmetric_difference

In [ ]:
#{}
#unordered
#immutable,unchangeable
#no-duplicates
#mix-data types
#unindexed(can't do indexing)

In [64]:
s1={"aaa","bbb",True,5,9}
print(s1) # unoredered

{True, 5, 'aaa', 9, 'bbb'}

In [65]:
s2=set(("anu","bat",1999)) # set constructor
print(s2)

{'anu', 'bat', 1999}

In [66]:
print(type(s2))

<class 'set'>

In [67]:
s1.add("apple")
s1

{5, 9, True, 'aaa', 'apple', 'bbb'}

In [68]:
s1.update(s2)
s1 # s2's elements will be added to s1
#duplicate elements not added

{1999, 5, 9, True, 'aaa', 'anu', 'apple', 'bat', 'bbb'}

In [69]:
s1.remove(1999)
print(s1)
# if item not in memory after removing then remove throws error
# again apply remove on same element throws error

{True, 'bat', 5, 'aaa', 9, 'bbb', 'anu', 'apple'}

In [71]:
s1.remove(1999)

KeyError: 1999

In [70]:
s1.discard(True)
print(s1)
# not throws error

{'bat', 5, 'aaa', 9, 'bbb', 'anu', 'apple'}

In [72]:
s1.discard(1999) # not throwed error & run successfully as still 1999 is del

In [57]:
s1.pop() # removes random element... so here it removes "bat"

'bat'

In [58]:
s1.clear() # del elements bt structure remains as it is

In [59]:
s1

set()

In [60]:
del s1 # delete the structure of set

In [61]:
s1

NameError: name 's1' is not defined

In [73]:
s1={1,2,3,4}
s2={"a","b",5,9}

In [74]:
s1.union(s2)

{1, 2, 3, 4, 5, 9, 'a', 'b'}

In [75]:
z=s1.intersection(s2)
z

set()

In [76]:
z1=s1.symmetric_difference(s2)
z1

{1, 2, 3, 4, 5, 9, 'a', 'b'}

##### Sets can be combined using mathematical operations.

The union operator **|** combines two sets to form a new one containing items in either. 

The intersection operator **&** gets items only in both. 

The difference operator **-** gets items in the first set but not in the second. 

The symmetric difference operator **^** gets items in either set, but not both.

In [15]:
first = {1, 2, 3, 4, 5, 6}
second = {4, 5, 6, 7, 8, 9}

print(first | second)
print(first & second)
print(first - second)
print(second - first)
print(first ^ second)

{1, 2, 3, 4, 5, 6, 7, 8, 9}
{4, 5, 6}
{1, 2, 3}
{8, 9, 7}
{1, 2, 3, 7, 8, 9}

# tuple`task

In [1]:
a1=("anuja","anuja",1,2,1)#mixed data types ,allows duplicates
type(a1)

tuple

In [3]:
print(a1) #ordered preserve

('anuja', 'anuja', 1, 2, 1)

In [2]:
a1[0]="diksha" #immutable /unchangeble

TypeError: 'tuple' object does not support item assignment

In [6]:
del a1[0] #can not remove element

TypeError: 'tuple' object doesn't support item deletion

## set task

In [11]:
s1={"anuja",True,1,0,3} #mixed data types ....
# here true and 1 has same meaning so it will igonre 1 as it comes after True 
type(s1)

set

In [12]:
print(s1) #unordered

{0, True, 3, 'anuja'}

In [13]:
s1={"anuja",True,1,0,3,3} #no-duplicates

In [14]:
print(s1)

{0, True, 3, 'anuja'}

In [15]:
s1[0] #can't do indexing

TypeError: 'set' object is not subscriptable

In [21]:
s1={"anuja",True,1,False,0,3,3} # look the logic 1=true and 0=flase
s1

{3, False, True, 'anuja'}

In [17]:
s2={3, False, True, 'anuja',"mylife"}
s2

{3, False, True, 'anuja', 'mylife'}

In [20]:
if "apple" in s1:
    print("yes")
else:
    print("No")

No

## frozenset

In [23]:
list1=[11,12,13,True,"anuja"]
x1=frozenset(list1)
x1
type(x1)

frozenset

In [24]:
x1[0]="itsme"

TypeError: 'frozenset' object does not support item assignment

In [25]:
x1.add("anuja") # can't add elements in frozenset , immutable

AttributeError: 'frozenset' object has no attribute 'add'

## Dictionary

In [ ]:
#{}
#key-value pair always
#prserve given order
#not allows duplicates
#add data(mutable)
#remove data
#update the existing data
#nested dict

In [1]:
a= {"girls" : ["anuja","nisha","mine"],
"rollno" :[ 1,2,3,],
"weight":[33,38,40],
"weight":[23,20,22],
    }

In [2]:
print(a["rollno"]) # preserves order

[1, 2, 3]

In [3]:
print(a["weight"]) # duplicates not allowed

[23, 20, 22]

In [4]:
print(a.get("weight"))

[23, 20, 22]

In [5]:
len(a)

3

In [6]:
a.keys()

dict_keys(['girls', 'rollno', 'weight'])

###### dictionary.get(keyname, value)
value	Optional. A value to return if the specified key does not exist.
Default value None

In [7]:
a.get("price", 15000) # keep in mind "price is not in dic(a) bt still giving o/p"

15000

In [8]:
a.get("girls")

['anuja', 'nisha', 'mine']

In [42]:
a.values()

dict_values([['anuja', 'nisha', 'mine'], [1, 2, 3], [23, 20, 22]])

In [43]:
a["location"]=["mumbai","pune","satara","kolhapur"] # adding new key and also added 4 values

In [44]:
print(a)

{'girls': ['anuja', 'nisha', 'mine'], 'rollno': [1, 2, 3], 'weight': [23, 20, 22], 'location': ['mumbai', 'pune', 'satara', 'kolhapur']}

In [48]:
a["girls"]=["anuja","me","mine"]
a

{'girls': ['anuja', 'me', 'mine'],
 'rollno': [1, 2, 3],
 'weight': [23, 20, 22],
 'location': ['mumbai', 'pune', 'satara', 'kolhapur']}

In [52]:
a["girls"]=["radhika"]
a

{'girls': ['radhika'],
 'rollno': [1, 2, 3],
 'weight': [23, 20, 22],
 'location': ['mumbai', 'pune', 'satara', 'kolhapur']}

In [53]:
a.items()# op in form of tuple

dict_items([('girls', ['radhika']), ('rollno', [1, 2, 3]), ('weight', [23, 20, 22]), ('location', ['mumbai', 'pune', 'satara', 'kolhapur'])])

In [55]:
if "girls" in a:
    print("yes")

yes

In [58]:
a.update({"location":['mumbai', 'pune', 'satara', 'solapur']})
a

{'girls': ['radhika'],
 'rollno': [1, 2, 3],
 'weight': [23, 20, 22],
 'location': ['mumbai', 'pune', 'satara', 'solapur']}

In [76]:
a.pop() # this only works in list

TypeError: pop expected at least 1 argument, got 0

In [60]:
a.pop("location")

['mumbai', 'pune', 'satara', 'solapur']

In [61]:
a

{'girls': ['radhika'], 'rollno': [1, 2, 3], 'weight': [23, 20, 22]}

In [62]:
a.popitem() # remove last key
a

{'girls': ['radhika'], 'rollno': [1, 2, 3]}

#### also apply functions like clear() , del()

In [63]:
a= {"girls" : ["anuja","nisha","mine"],
"rollno" :[ 1,2,3,],
"weight":[33,38,40],
    }

In [65]:
new_a = a.copy()
new_a

{'girls': ['anuja', 'nisha', 'mine'],
 'rollno': [1, 2, 3],
 'weight': [33, 38, 40]}

In [73]:
a= {
  "d1" : {
"girls" : ["anuja","nisha","mine"],
"rollno" :[ 1,2,3,],
"weight":[3,8,4],
    } ,

 "d2" : {
"girls" : ["anuja1","nisha1","mine1"],
"rollno" :[4,5,6],
"weight":[33,88,44],
    },


 "d3" : {
"girls" : ["anuja2","nisha2","mine2"],
"rollno" :[7,8,9],
"weight":[333,888,444],
    },
}

In [74]:
a["d2"]["rollno"]

[4, 5, 6]

In [1]:
s1={1,2,3,4,5}
s2={6,7,8,9}

In [2]:
s1.add("India")

In [3]:
# u can't modified elements of sets ..as indexing is not possible

In [5]:
s2.update(s1)
s2 # s1 added to s2

{1, 2, 3, 4, 5, 6, 7, 8, 9, 'India'}

In [6]:
s1

{1, 2, 3, 4, 5, 'India'}

In [7]:
s2.discard("India")
s2

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [8]:
s2.remove(9)
s2

{1, 2, 3, 4, 5, 6, 7, 8}

In [9]:
s2.pop()

1

In [10]:
s2.pop()

2

In [11]:
s2.pop()

3

In [12]:
s2.pop()

4

In [13]:
d={
    "name":("anuja","radhika"),
    "age":(23,24),
    "loc":("panvel","nashik")
}

In [16]:
d.update({"name":["banglore","radhika"]})

In [17]:
d

{'name': ['banglore', 'radhika'], 'age': (23, 24), 'loc': ('panvel', 'nashik')}

In [18]:
d["name"]=[1,2,3] # using accessing elements

In [19]:
d

{'name': [1, 2, 3], 'age': (23, 24), 'loc': ('panvel', 'nashik')}

## conditional statements

In [25]:
a=100
b=50

if a==b:
    print("same")
else:
    print("different")
#######################################    
if a!=b:
    print("not equals")
else:
    print("same")
    
###################################################    
if a > b:
    print("a is greater")
else:
    print("b is greater")
################################################
if a < b:
    print("a is smaller")
else:
    print("b is smaller")

different
not equals
a is greater
b is smaller

In [26]:
a=5
b=10
if a > b:
    print("a is greater")
elif a==b:
    print("they are same")
else:
    print("b is greater")

b is greater

In [29]:
a = -5
if a >= 0:
    print("positive")
else:
    print("negative")

negative

In [37]:
a=float(input("enter no : ")) #float also takes int
if a >= 0:
    print("positive number")
else:
    print("negative number")
print("thank u")

enter no : -5
negative number
thank u

##### homework

#### WAP ask user to enter minutes and convert that in to hours

In [10]:
m = float(input("enter minutes : "))
h=m/60
print("{} minutes means {} hours ".format(m,round(h,2)))

enter minutes : 40
40.0 minutes means 0.67 hours

#### WAP ask two number to user and print largest number

In [12]:
a = float (input("enter first Number : "))
b = float (input("enter second Number : "))
if (a>b):
    print("Largest Number is {}".format(a))
elif (a==b):
    print("Both Numbers are same")
else :
    print("Largest Number is {}".format(b))

enter first Number : 80
enter second Number : 40
Largest Number is 80.0

#### wap to find rate per hour

In [ ]:
income = float(input("Enter your weekly income : "))
hours = float(input("enter total hours in week spend on work: "))
rate = rate/60
print("your rate per hour is: ",rate)

In [9]:
a,b,c,d = list(map(int, input("values: ").split())) # map(fun, iter)

values: 1 2 3 4

In [10]:
a+b

3

In [12]:
a,b,c,d = map(int, input("values: ").split()) # map(fun, iter)

values: 1 2 3 4

In [14]:
type(c)

int

In [11]:
kg=float(input("enter KG "))
gram = kg * 1000
print("{} KG means {} grams ".format(kg,gram))

enter KG 5
5.0 KG means 5000.0 grams

In [17]:
a=35
if a <= 20:
    print(a ,"is less than 20")
elif (a >= 21 and a<=40):
    print(a,"is between 21 and 40")
elif (a >= 41 and a<=50):
    print(a, "is between 41 and 50" )
else :
    print(a, "is greater than 50")

35 is between 21 and 40

In [18]:
a=200
b=90
c=500

if a>b and c>a:
    print("both conditions are true")

both conditions are true

In [19]:
a=200
b=90
c=500

if a>b or a>c:
    print("both conditions are true")

both conditions are true

In [20]:
a=200
b=90


if not a<b :
    print("both conditions are true")

both conditions are true

##### WAP to check given number is odd or even

In [23]:
a=float(input("enter no: "))
if a%2 ==0:
    print("given no is even")
else:
    print("given no is odd")

enter no: 5
given no is odd

### WAP TO ACCEPT CHARACTER FRO M USER AND CHECK WHETHER IT IS UPPER OR LOWER CASE

In [25]:
a=input("enter character : ")
if a.upper() == a:
    print("Uppercase")
else:
    print("lowercase")

enter character : C
Uppercase

In [26]:
a=input("Enter character")
if a.isupper()==True:
    print("{} is capital letter".format(a))
else:
    print("{} is lower letter".format(a))

Enter charactera
a is lower letter

In [33]:
ch=str(input("Enter input: "))
if "A"<=ch[0]<="Z":
    print("Upper case")
elif "a"<=ch[0]<="z": 
     print("lower case")
else:
    print("invalid input")

Enter input: &
invalid input

### Write a program to display the greatest among three numbers using nested if statement.

In [10]:
age=int(input("enter age:"))
#kids,teenager,adult,senior citizen
if age > 0 and age < 13:
    print("kid")
elif (age < 59) :
    if (age >= 13) and (age<19) :
        print("teenager")
    else:
        print("adult")
else:
    print("senior citizen")

enter age:45
adult

In [13]:
no =int(input("enter no:"))
if no>0:
    if no%2==0:
        print("number is positive and even")
    else:
        print("Number is odd")
else:
    print("Negative no")

enter no:-4
Negative no

In [18]:
a=[8,7,9,5,6]
print("len of a : ",len(a))

for i in range(len(a)):
    if i==len(a)-2:
        break
    print(i,end=" " )
        
print(" ","second for : ", sep="\n")

for i in range(len(a)):
    print(a[i],end=" ")

print(" ","third for : ", sep="\n")       

for i in a:
    print(i ,end=" ")
    
print(" ","forth for : ", sep="\n")
b="anuja" # work on string
for i in b:
    print(i,end=" ",)

len of a :  5
0 1 2
second for :
8 7 9 5 6
third for :
8 7 9 5 6
forth for :
a n u j a

### wap for Password and Username Checking

In [2]:
def myfunc():
    name,password=map(str,input("enter name and password:").split())
    if name=="admin" :
        if password=="1234":
            print("weak password")
        else:
            print("wrong password")
    else:
        if name==name and password==name:
            print("credentials are correct & login successful")
        else:
            print("credentials are not correct")
myfunc()
myfunc()

enter name and password:admin 1234
weak password
enter name and password:anuja anuja
credentials are correct & login successful

In [7]:
name=str(input("enter your name : "))#input() bydefault takes any input as string
for i in name:
    print(i)

enter your name : 123
1
2
3

In [5]:
num=input("enter no)
num1=num/2

str

In [11]:
for  i in range(0,101):
    if i%2==0:
        print(i)

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

In [10]:
#WAP TO DISPLAY NUMBERS B/W 1 TO 100 WHICH ARE EVEN
for  i in range(0,101,2):
    print(i)

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

In [14]:
for i in range(1,50,5):#range(start index, stop index, step)
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49

In [21]:
for i in range(15):#bydefault start from 0
    #print(i)
    if i==7:
        break
    print(i)

0
1
2
3
4
5
6

In [23]:
#Nested for loop
color=["red","blue","black","green"]
fruits=["banana","apple","mango","watermelon"]
for x in color:
    for y in fruits:
        print(x,y)

red banana
red apple
red mango
red watermelon
blue banana
blue apple
blue mango
blue watermelon
black banana
black apple
black mango
black watermelon
green banana
green apple
green mango
green watermelon

In [25]:
d1={"name":["abc","xyz"],"age":[10,20],"city":["mumbai","delhi"]}
d1

{'name': ['abc', 'xyz'], 'age': [10, 20], 'city': ['mumbai', 'delhi']}

In [32]:
for i in d1.keys():
    print(i)

name
age
city

In [31]:
for i in d1.values():
    print(i)

['abc', 'xyz']
[10, 20]
['mumbai', 'delhi']

In [33]:
for i,m in d1.items():
    print(i,m)

name ['abc', 'xyz']
age [10, 20]
city ['mumbai', 'delhi']

In [37]:
l1=[10,20]
l2=[5,10,20]
#o/p:10 5,20 5,20 10
for i in range(len(l1)):
    for j in range(len(l2)):
        if j==2:
            break
        print(l1[i],l2[j])

10 5
10 10
20 5
20 10

In [39]:
l1=[10,20]
l2=[5,10,20]
#o/p:10 5,20 5,20 10
for i in l1:
    for y in l2:
        if i==y:
            break
        
        print(i,y)

10 5
20 5
20 10

In [42]:
for i in "india":#pass allows us to execute any loop or decision making statement without code body
   # print(i)
    pass

In [48]:
if  10<20:
    pass

### continue

In [50]:
#continue to skip certain iteration
for i in range(10):
    if i==5:
        continue
    print(i)

0
1
2
3
4
6
7
8
9

In [57]:
#WAP TO get o/p with number lower than 100
l=[10,20,30,40,200,500,80,900] # if i>80 then next print not executed
for i in l:
    if i>100:
        continue
    print(i)

10
20
30
40
80

In [55]:
#WAP to skip 10,500 in  o/p
l=[10,20,30,40,200,500,80,900]#o/p10,20,30,40,500,80
for i in l:
    if i==10 or i==500:
        continue

    print(i)

20
30
40
200
80

### while loop

In [1]:
i=1  #while loop execute until condition is true
while i<10:
    print(i)
    i+=1

1
2
3
4
5
6
7
8
9

In [3]:
i=1  
while i<10:
    #print(i)
    if i==7:
        break
    print(i)
    i+=1

1
2
3
4
5
6

In [7]:
i=0
while i<20:
    i+=1
    if i==10:
        continue
    print(i , end=" ")

1 2 3 4 5 6 7 8 9 11 12 13 14 15 16 17 18 19 20

In [8]:
i=1
while i<5:
    print(i)
    i+=1
else:
    print("rest of the values are greater then 5")

1
2
3
4
rest of the values are greater then 5

#### take one empty list and assign the number less than 5

In [21]:
a = map(int,input("enter elements you wants in list:").split())
lst=[]
for i in a:
    if i<5:
        lst.append(i)
print(lst)

enter elements you wants in list:1 2 3 5 7 5 2 3 4
[1, 2, 3, 2, 3, 4]

#### WAP to accept radius of a Circle from the user and calculate area and circumference¶

 circumference = 2.pi.r
 area =pi. r^2

In [20]:
r = int(input("enter radius of circle : "))
area=3.14*(r**2)
circumference=2*3.14*r
print("area of circle is :",area,"circumference of circle is :",circumference  )

enter radius of circle : 8
area of circle is : 200.96 circumference of circle is : 50.24

#### Finding the sum of numbers in a list using while loop

In [1]:
a=[23,45,12,10,25]
i=0
sum=0
while i <len(a):
    sum=a[i]+sum
    i+=1
print(sum)

115

#### Finding the average of 5 numbers using while loop

In [9]:
num = 5
i=0
sum1=0
while  num > 0:
    a=int(input("enter no : "))
    i+=1
    sum1+=a
    num-=1
avg=sum1/i
print("sum is : ",sum1,"avg is :",avg)

enter no : 1
enter no : 2
enter no : 3
enter no : 4
enter no : 5
sum is :  15 avg is : 3.0

## function

In [12]:
def myfunction():
    print("anuja")
myfunction()

anuja

In [14]:
def add(a,b,c):
    d=a+b+c
    print(d)
add(1,2,3)

6

In [15]:
def multiply(a,b,c):
    d=a*b*c
    print(d)
multiply(5,6,4)

120

0 1 2 3
0 2 4 6
0 3 6 9
0 4 8 12

In [5]:
i=1
while i<5:
    j=0
    while j<4:
        print(i*j,end=" ")
        j+=1
    print()
    i+=1

0 1 2 3
0 2 4 6
0 3 6 9
0 4 8 12

In [1]:
for i in range(1,5):
    for j in range(0,4):
        print(i*j,end = " ")
    print()

0 1 2 3
0 2 4 6
0 3 6 9
0 4 8 12

#### Printing the square of numbers using while loop

In [11]:
num = 5
while  num > 0:
    a=int(input("enter no : "))
    square = a*a
    print("square of {} : {} ".format(a,square))
    num-=1

enter no : 2
square of 2 : 4
enter no : 5
square of 5 : 25
enter no : 3
square of 3 : 9
enter no : 4
square of 4 : 16
enter no : 8
square of 8 : 64

#### Write a program to accept a string from the user and display it vertically but don’t display the vowels in it.

In [29]:
a = input("enter string : ")
b="aeiou"
for i in a:
    if i in b:
        continue
    else:
        print(i)

enter string : hello anuja
h
l
l

n
j

#### Write a Python program which accepts the user's first and last name and print them in reverse order with a space between them.¶

In [32]:
name = input("enter first and last name : ")
print(name[: : -1])

enter first and last name : anuja kanawade
edawanak ajuna