In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df=pd.read_csv(r"C:\Users\Anuja\Music\New folder\New folder\test_sale.csv")
df.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type
0,FDW58,20.750,Low Fat,0.007565,Snack Foods,107.8622,OUT049,1999,Medium,Tier 1,Supermarket Type1
1,FDW14,8.300,reg,0.038428,Dairy,87.3198,OUT017,2007,NaN,Tier 2,Supermarket Type1
2,NCN55,14.600,Low Fat,0.099575,Others,241.7538,OUT010,1998,NaN,Tier 3,Grocery Store
3,FDQ58,7.315,Low Fat,0.015388,Snack Foods,155.0340,OUT017,2007,NaN,Tier 2,Supermarket Type1
4,FDY38,NaN,Regular,0.118599,Dairy,234.2300,OUT027,1985,Medium,Tier 3,Supermarket Type3

In [4]:
df.shape

(5681, 11)

In [5]:
df.isnull().sum()

Item_Identifier                 0
Item_Weight                   976
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  1606
Outlet_Location_Type            0
Outlet_Type                     0
dtype: int64

In [6]:
l=["Item_Identifier","Outlet_Identifier"]
df.drop(l,inplace=True,axis=1)

In [7]:
df.shape

(5681, 9)

In [9]:
df.dtypes

Item_Weight                  float64
Item_Fat_Content              object
Item_Visibility              float64
Item_Type                     object
Item_MRP                     float64
Outlet_Establishment_Year      int64
Outlet_Size                   object
Outlet_Location_Type          object
Outlet_Type                   object
dtype: object

In [8]:
df["Item_Weight"].value_counts()

10.500    57
17.600    53
15.600    48
20.250    47
19.350    46
          ..
6.980      1
6.320      1
5.465      1
5.945      1
7.670      1
Name: Item_Weight, Length: 410, dtype: int64

In [10]:
df["Item_Weight"].fillna(df["Item_Weight"].median(),inplace=True)

In [11]:
df.Outlet_Size.unique()

array(['Medium', nan, 'Small', 'High'], dtype=object)

In [12]:
df.Outlet_Size.value_counts()

Medium    1862
Small     1592
High       621
Name: Outlet_Size, dtype: int64

In [13]:
df["Outlet_Size"].fillna("High",inplace=True)

In [17]:
df.dtypes

Item_Weight                  float64
Item_Fat_Content              object
Item_Visibility              float64
Item_Type                     object
Item_MRP                     float64
Outlet_Establishment_Year      int64
Outlet_Size                   object
Outlet_Location_Type          object
Outlet_Type                   object
dtype: object

In [18]:
df.Item_Fat_Content.unique()

array(['Low Fat', 'reg', 'Regular', 'LF', 'low fat'], dtype=object)

In [23]:
df.Item_Fat_Content.value_counts()

Low Fat    3396
Regular    1935
LF          206
reg          78
low fat      66
Name: Item_Fat_Content, dtype: int64

In [24]:
df.replace("low fat","Low Fat",inplace=True)

In [25]:
df.Item_Fat_Content.value_counts()

Low Fat    3462
Regular    1935
LF          206
reg          78
Name: Item_Fat_Content, dtype: int64

In [19]:
df.Item_Type.unique()

array(['Snack Foods', 'Dairy', 'Others', 'Fruits and Vegetables',
       'Baking Goods', 'Health and Hygiene', 'Breads', 'Hard Drinks',
       'Seafood', 'Soft Drinks', 'Household', 'Frozen Foods', 'Meat',
       'Canned', 'Starchy Foods', 'Breakfast'], dtype=object)

In [20]:
df.Outlet_Size.unique()

array(['Medium', 'High', 'Small'], dtype=object)

In [21]:
df.Outlet_Location_Type.unique()

array(['Tier 1', 'Tier 2', 'Tier 3'], dtype=object)

In [28]:
df.Outlet_Type.value_counts()

Supermarket Type1    3717
Grocery Store         722
Supermarket Type3     624
Supermarket Type2     618
Name: Outlet_Type, dtype: int64

In [30]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()

In [33]:
df.Item_Fat_Content=le.fit_transform(df.Item_Fat_Content)

In [34]:
df.Item_Type=le.fit_transform(df.Item_Type)

In [35]:
df.Outlet_Size=le.fit_transform(df.Outlet_Size)

In [36]:
df.Outlet_Location_Type=le.fit_transform(df.Outlet_Location_Type)

In [37]:
df.Outlet_Type=le.fit_transform(df.Outlet_Type)

In [38]:
df.dtypes

Item_Weight                  float64
Item_Fat_Content               int64
Item_Visibility              float64
Item_Type                      int32
Item_MRP                     float64
Outlet_Establishment_Year      int64
Outlet_Size                    int32
Outlet_Location_Type           int32
Outlet_Type                    int32
dtype: object

In [40]:
df1=pd.read_csv(r"C:\Users\Anuja\Music\New folder\New folder\train_sale.csv")
df1.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

In [41]:
df1.shape

(8523, 12)

In [42]:
df1.isnull().sum()

Item_Identifier                 0
Item_Weight                  1463
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  2410
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

In [45]:
l=["Item_Identifier","Outlet_Identifier"]
df1.drop(l,inplace=True,axis=1)

In [46]:
df1["Item_Weight"].fillna(df1["Item_Weight"].median(),inplace=True)

In [47]:
df1.Outlet_Size.value_counts()

Medium    2793
Small     2388
High       932
Name: Outlet_Size, dtype: int64

In [50]:
df1.fillna("High",inplace=True)

In [51]:
df1.isnull().sum()

Item_Weight                  0
Item_Fat_Content             0
Item_Visibility              0
Item_Type                    0
Item_MRP                     0
Outlet_Establishment_Year    0
Outlet_Size                  0
Outlet_Location_Type         0
Outlet_Type                  0
Item_Outlet_Sales            0
dtype: int64

In [52]:
df1.Item_Fat_Content=le.fit_transform(df1.Item_Fat_Content)

In [53]:
df1.Item_Type=le.fit_transform(df1.Item_Type)

In [54]:
df1.Outlet_Size=le.fit_transform(df1.Outlet_Size)

In [55]:
df1.Outlet_Location_Type=le.fit_transform(df1.Outlet_Location_Type)

In [56]:
df1.Outlet_Type=le.fit_transform(df1.Outlet_Type)

In [57]:
df1.head(2)

,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,9.30,1,0.016047,4,249.8092,1999,1,0,1,3735.1380
1,5.92,2,0.019278,14,48.2692,2009,1,2,2,443.4228

In [58]:
df1.shape

(8523, 10)

In [ ]:
impute -> 2 ways => SD,IQR

In [ ]:
SD => GD
IQR => skewed