In [3]:
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings('ignore')
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
train=pd.read_csv(r'C:\Users\Anuja\Downloads\train_Hr.csv')
test=pd.read_csv(r'C:\Users\Anuja\Music\New folder\test_Hr.csv')

## processing of train data set

In [5]:
train.shape

(54808, 14)

## missing values

In [6]:
train.isnull().sum()

employee_id                0
department                 0
region                     0
education               2409
gender                     0
recruitment_channel        0
no_of_trainings            0
age                        0
previous_year_rating    4124
length_of_service          0
KPIs_met >80%              0
awards_won?                0
avg_training_score         0
is_promoted                0
dtype: int64

In [7]:
train["education"].value_counts()

Bachelor's          36669
Master's & above    14925
Below Secondary       805
Name: education, dtype: int64

In [8]:
train["education"].fillna("Below Secondary",inplace=True)

In [9]:
train["education"].isnull().sum()

0

In [10]:
train["previous_year_rating"].value_counts()

3.0    18618
5.0    11741
4.0     9877
1.0     6223
2.0     4225
Name: previous_year_rating, dtype: int64

In [11]:
train["previous_year_rating"].fillna(2.0,inplace=True)

In [12]:
train["previous_year_rating"].isnull().sum()

0

In [13]:
train.isnull().sum()

employee_id             0
department              0
region                  0
education               0
gender                  0
recruitment_channel     0
no_of_trainings         0
age                     0
previous_year_rating    0
length_of_service       0
KPIs_met >80%           0
awards_won?             0
avg_training_score      0
is_promoted             0
dtype: int64

In [14]:
train.head(2)

,employee_id,department,region,education,gender,recruitment_channel,no_of_trainings,age,previous_year_rating,length_of_service,KPIs_met >80%,awards_won?,avg_training_score,is_promoted
0,65438,Sales & Marketing,region_7,Master's & above,f,sourcing,1,35,5.0,8,1,0,49,0
1,65141,Operations,region_22,Bachelor's,m,other,1,30,5.0,4,0,0,60,0

In [15]:
train.shape

(54808, 14)

## Duplicates

In [16]:
train.drop_duplicates(inplace=True)

In [17]:
train.shape

(54808, 14)

## casting

In [18]:
train.dtypes

employee_id               int64
department               object
region                   object
education                object
gender                   object
recruitment_channel      object
no_of_trainings           int64
age                       int64
previous_year_rating    float64
length_of_service         int64
KPIs_met >80%             int64
awards_won?               int64
avg_training_score        int64
is_promoted               int64
dtype: object

In [19]:
train["education"].value_counts()

Bachelor's          36669
Master's & above    14925
Below Secondary      3214
Name: education, dtype: int64

In [20]:
train["department"].value_counts()

Sales & Marketing    16840
Operations           11348
Technology            7138
Procurement           7138
Analytics             5352
Finance               2536
HR                    2418
Legal                 1039
R&D                    999
Name: department, dtype: int64

In [21]:
train["region"].value_counts()

region_2     12343
region_22     6428
region_7      4843
region_15     2808
region_13     2648
region_26     2260
region_31     1935
region_4      1703
region_27     1659
region_16     1465
region_28     1318
region_11     1315
region_23     1175
region_29      994
region_32      945
region_19      874
region_20      850
region_14      827
region_25      819
region_17      796
region_5       766
region_6       690
region_30      657
region_8       655
region_10      648
region_1       610
region_24      508
region_12      500
region_9       420
region_21      411
region_3       346
region_34      292
region_33      269
region_18       31
Name: region, dtype: int64

In [22]:
train["recruitment_channel"].value_counts()

other       30446
sourcing    23220
referred     1142
Name: recruitment_channel, dtype: int64

In [23]:
train["education"].replace({"Bachelor's":1,"Master's & above":2,"Below Secondary":3},inplace=True)

In [24]:
train["department"].replace({"Sales & Marketing":1,"Operations":2,"Technology":3,"Procurement":4,"Analytics":5,"Finance":6,"HR":7,"Legal":8,"R&D":9},inplace=True)

In [25]:
train["region"]=train["region"].str.removeprefix("region_")

In [26]:
train["region"]=train["region"].astype("int64")

In [27]:
train["recruitment_channel"].replace({"other":1,"sourcing":2,"referred":3},inplace=True)

In [28]:
train["gender"].replace({"f":1,"m":2},inplace=True)

In [29]:
train.dtypes

employee_id               int64
department                int64
region                    int64
education                 int64
gender                    int64
recruitment_channel       int64
no_of_trainings           int64
age                       int64
previous_year_rating    float64
length_of_service         int64
KPIs_met >80%             int64
awards_won?               int64
avg_training_score        int64
is_promoted               int64
dtype: object

## data type conversion

In [30]:
train["previous_year_rating"]=train["previous_year_rating"].astype("int64",copy=False)

In [31]:
train.dtypes

employee_id             int64
department              int64
region                  int64
education               int64
gender                  int64
recruitment_channel     int64
no_of_trainings         int64
age                     int64
previous_year_rating    int64
length_of_service       int64
KPIs_met >80%           int64
awards_won?             int64
avg_training_score      int64
is_promoted             int64
dtype: object

## processing of test data set

## missing value

In [32]:
test.shape

(23490, 13)

In [33]:
test.isnull().sum()

employee_id                0
department                 0
region                     0
education               1034
gender                     0
recruitment_channel        0
no_of_trainings            0
age                        0
previous_year_rating    1812
length_of_service          0
KPIs_met >80%              0
awards_won?                0
avg_training_score         0
dtype: int64

In [34]:
test["education"].value_counts()

Bachelor's          15578
Master's & above     6504
Below Secondary       374
Name: education, dtype: int64

In [35]:
test["education"].fillna("Below Secondary" , inplace=True)

In [36]:
test["previous_year_rating"].value_counts()

3.0    7921
5.0    5097
4.0    4249
1.0    2680
2.0    1731
Name: previous_year_rating, dtype: int64

In [37]:
test["previous_year_rating"].fillna(2.0 , inplace=True)

In [38]:
test.isnull().sum()

employee_id             0
department              0
region                  0
education               0
gender                  0
recruitment_channel     0
no_of_trainings         0
age                     0
previous_year_rating    0
length_of_service       0
KPIs_met >80%           0
awards_won?             0
avg_training_score      0
dtype: int64

In [39]:
test.drop_duplicates(inplace=True)

In [40]:
test.shape

(23490, 13)

In [41]:
test.dtypes

employee_id               int64
department               object
region                   object
education                object
gender                   object
recruitment_channel      object
no_of_trainings           int64
age                       int64
previous_year_rating    float64
length_of_service         int64
KPIs_met >80%             int64
awards_won?               int64
avg_training_score        int64
dtype: object

In [42]:
test["department"].unique()

array(['Technology', 'HR', 'Sales & Marketing', 'Procurement', 'Finance',
       'Analytics', 'Operations', 'Legal', 'R&D'], dtype=object)

In [43]:
test["region"].unique()

array(['region_26', 'region_4', 'region_13', 'region_2', 'region_29',
       'region_7', 'region_22', 'region_16', 'region_17', 'region_24',
       'region_11', 'region_27', 'region_9', 'region_20', 'region_34',
       'region_23', 'region_8', 'region_14', 'region_31', 'region_19',
       'region_5', 'region_28', 'region_15', 'region_3', 'region_25',
       'region_12', 'region_21', 'region_30', 'region_10', 'region_33',
       'region_32', 'region_6', 'region_1', 'region_18'], dtype=object)

In [44]:
test["education"].unique()

array(["Bachelor's", "Master's & above", 'Below Secondary'], dtype=object)

In [45]:
test["recruitment_channel"].unique()

array(['sourcing', 'other', 'referred'], dtype=object)

In [46]:
test["department"].replace({'Technology':1, 'HR':2, 'Sales & Marketing':3, 'Procurement':4, 'Finance':5,
       'Analytics':6, 'Operations':7, 'Legal':8, 'R&D':9},inplace=True)

In [47]:
test["education"].replace({"Bachelor's":1, "Master's & above":2, 'Below Secondary':3},inplace=True)

In [48]:
test["recruitment_channel"].replace({'sourcing':1, 'other':2, 'referred':3},inplace=True)

In [49]:
test["region"]=test["region"].str.removeprefix("region_")

In [50]:
test["region"]=test["region"].astype("int64")

In [51]:
test["gender"].replace({"f":1,"m":2},inplace=True)

In [52]:
test["previous_year_rating"]=train["previous_year_rating"].astype("int64" , copy=False)

In [53]:
test.dtypes

employee_id             int64
department              int64
region                  int64
education               int64
gender                  int64
recruitment_channel     int64
no_of_trainings         int64
age                     int64
previous_year_rating    int64
length_of_service       int64
KPIs_met >80%           int64
awards_won?             int64
avg_training_score      int64
dtype: object

In [54]:
train.skew()

employee_id            -0.003128
department              0.964804
region                  0.207757
education               1.263173
gender                 -0.885300
recruitment_channel     0.537177
no_of_trainings         3.445434
age                     1.007432
previous_year_rating   -0.135992
length_of_service       1.738061
KPIs_met >80%           0.619909
awards_won?             6.338914
avg_training_score      0.451908
is_promoted             2.972339
dtype: float64

In [ ]:
skew columns =>no_of_trainings ,is_promoted ,awards_won?