In [1]:
a= {"girls" : ["anuja","nisha","mine"],
"rollno" :[ 1,2,3,],
"weight":[33,38,40],
    }
b=a

In [5]:
for i in range(1,50,5):#range(start index, stop index, step)
    print(i , end=",")

1,6,11,16,21,26,31,36,41,46,

In [6]:
for i in range(1, 50, 5):
    if i != 1:
        print(",", end="")
    print(i, end="")

1,6,11,16,21,26,31,36,41,46

In [7]:
for i in range(1, 50, 5):
    print(i, end=",")
else:
    print(i+5)

1,6,11,16,21,26,31,36,41,46,51

In [13]:
print("a")
print()
print("b")

a

b

In [14]:
i=1
while i<5:
    j=0
    while j<4:
        print(i*j,end=" ")
        j+=1
    print()
    i+=1

0 1 2 3
0 2 4 6
0 3 6 9
0 4 8 12

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df=pd.read_csv(r"C:\Users\Anuja\Music\New folder\BankCreditCard.csv")
df.head()

,Customer ID,Credit_Amount,Gender,Academic_Qualification,Marital,Age_Years,Repayment_Status_Jan,Repayment_Status_Feb,Repayment_Status_March,Repayment_Status_April,...,April_Bill_Amount,May_Bill_Amount,June_Bill_Amount,Previous_Payment_Jan,Previous_Payment_Feb,Previous_Payment_March,Previous_Payment_April,Previous_Payment_May,Previous_Payment_June,Default_Payment
0,1,20000.0,2,2,1,24,2,2,0,0,...,0.0,0.0,0.0,0.0,679.0,0.0,0.0,0.0,0.0,1
1,2,220000.0,2,2,2,26,0,2,0,0,...,3272.0,3455.0,3261.0,0.0,2000.0,1000.0,1000.0,0.0,2000.0,1
2,3,90000.0,2,2,2,34,0,0,0,0,...,24332.0,14848.0,15548.0,1619.0,2500.0,1000.0,1000.0,1000.0,5000.0,0
3,4,50000.0,2,2,1,37,0,0,0,0,...,29324.0,28858.0,28547.0,3000.0,2029.0,1200.0,1100.0,1069.0,1000.0,0
4,5,50000.0,1,2,1,57,0,0,0,0,...,20940.0,18146.0,18131.0,3000.0,36672.0,10000.0,9000.0,689.0,679.0,0

In [3]:
df.shape

(30000, 25)

In [4]:
df.isnull().sum()

Customer ID               0
Credit_Amount             0
Gender                    0
Academic_Qualification    0
Marital                   0
Age_Years                 0
Repayment_Status_Jan      0
Repayment_Status_Feb      0
Repayment_Status_March    0
Repayment_Status_April    0
Repayment_Status_May      0
Repayment_Status_June     0
Jan_Bill_Amount           0
Feb_Bill_Amount           0
March_Bill_Amount         0
April_Bill_Amount         0
May_Bill_Amount           0
June_Bill_Amount          0
Previous_Payment_Jan      0
Previous_Payment_Feb      0
Previous_Payment_March    0
Previous_Payment_April    0
Previous_Payment_May      0
Previous_Payment_June     0
Default_Payment           0
dtype: int64

In [5]:
df.drop("Customer ID",inplace=True,axis=1)

In [6]:
df.dtypes

Credit_Amount             float64
Gender                      int64
Academic_Qualification      int64
Marital                     int64
Age_Years                   int64
Repayment_Status_Jan        int64
Repayment_Status_Feb        int64
Repayment_Status_March      int64
Repayment_Status_April      int64
Repayment_Status_May        int64
Repayment_Status_June       int64
Jan_Bill_Amount           float64
Feb_Bill_Amount           float64
March_Bill_Amount         float64
April_Bill_Amount         float64
May_Bill_Amount           float64
June_Bill_Amount          float64
Previous_Payment_Jan      float64
Previous_Payment_Feb      float64
Previous_Payment_March    float64
Previous_Payment_April    float64
Previous_Payment_May      float64
Previous_Payment_June     float64
Default_Payment             int64
dtype: object

In [7]:
df.skew()

Credit_Amount              0.515894
Gender                    -0.424183
Academic_Qualification     1.017944
Marital                   -0.018742
Age_Years                  0.732246
Repayment_Status_Jan       2.485379
Repayment_Status_Feb       2.488460
Repayment_Status_March     2.684191
Repayment_Status_April     3.213051
Repayment_Status_May       3.589727
Repayment_Status_June      3.495517
Jan_Bill_Amount            1.768960
Feb_Bill_Amount            2.771193
March_Bill_Amount          2.788757
April_Bill_Amount          2.131962
May_Bill_Amount            2.879272
June_Bill_Amount           2.840817
Previous_Payment_Jan      15.279685
Previous_Payment_Feb      41.802935
Previous_Payment_March    19.012134
Previous_Payment_April    13.299057
Previous_Payment_May      12.231259
Previous_Payment_June     10.640727
Default_Payment            1.343504
dtype: float64

In [8]:
list1=['Credit_Amount','Age_Years','Jan_Bill_Amount','Feb_Bill_Amount','March_Bill_Amount', 'April_Bill_Amount',
           'May_Bill_Amount', 'June_Bill_Amount','Previous_Payment_Jan','Previous_Payment_Feb','Previous_Payment_March','Previous_Payment_April', 'Previous_Payment_May','Previous_Payment_June',]
print(len(list1))

14

In [9]:
import pandas as pd
import numpy as np

def remove_skew(df):
    list1 = ['Credit_Amount', 'Age_Years', 'Jan_Bill_Amount', 'Feb_Bill_Amount', 'March_Bill_Amount',
             'April_Bill_Amount', 'May_Bill_Amount', 'June_Bill_Amount', 'Previous_Payment_Jan',
             'Previous_Payment_Feb', 'Previous_Payment_March', 'Previous_Payment_April',
             'Previous_Payment_May', 'Previous_Payment_June']
    
    modified_df = df.copy()  # Create a copy of the DataFrame to store modified values
    
    for column in list1:
        IQR = df[column].quantile(0.75) - df[column].quantile(0.25)
        ub = df[column].quantile(0.75) + 3 * IQR
        lb = df[column].quantile(0.25) - 3 * IQR
        
        print("Upper limit =>", ub, "Lower limit =>", lb)
        
        # Replace values above the upper limit with the upper limit
        modified_df.loc[df[column] > ub, column] = ub
        
        # Replace values below the lower limit with the lower limit
        modified_df.loc[df[column] < lb, column] = lb
        
        print("previous skewness:", df[column].skew())
        print("New skewness of", column, "=>", modified_df[column].skew())
    
    return modified_df

# Example usage:
df = pd.DataFrame(df)  # Replace ... with your actual DataFrame
modified_df = remove_skew(df)

Upper limit => 930000.0 Lower limit => -610000.0
previous skewness: 0.5158938844100289
New skewness of Credit_Amount => 0.4409157068063006
Upper limit => 80.0 Lower limit => -11.0
previous skewness: 0.7322458687830562
New skewness of Age_Years => 0.7322458687830562
Upper limit => 256694.0 Lower limit => -185713.0
previous skewness: 1.7689599311889825
New skewness of Jan_Bill_Amount => 1.5276391192968126
Upper limit => 219131.0 Lower limit => -158193.5
previous skewness: 2.771193123179417
New skewness of Feb_Bill_Amount => 1.6325755389147192
Upper limit => 232382.0 Lower limit => -169253.5
previous skewness: 2.788757040151285
New skewness of March_Bill_Amount => 1.6269873291449792
Upper limit => 210019.5 Lower limit => -152839.5
previous skewness: 2.131962363566112
New skewness of April_Bill_Amount => 1.669498968157304
Upper limit => 195473.0 Lower limit => -143519.5
previous skewness: 2.879271841650919
New skewness of May_Bill_Amount => 1.749920751074148
Upper limit => 190853.0 Lower limit => -140941.75
previous skewness: 2.8408170828663497
New skewness of June_Bill_Amount => 1.7490880606454158
Upper limit => 21000.0 Lower limit => -14000.0
previous skewness: 15.279685497436736
New skewness of Previous_Payment_Jan => 1.8786461437940154
Upper limit => 17690.0 Lower limit => -11920.0
previous skewness: 41.80293481772448
New skewness of Previous_Payment_Feb => 1.7410804692909436
Upper limit => 20350.0 Lower limit => -14300.0
previous skewness: 19.01213412605712
New skewness of Previous_Payment_March => 1.9490588749067597
Upper limit => 15054.0 Lower limit => -10707.75
previous skewness: 13.299057190036264
New skewness of Previous_Payment_April => 1.744791370280702
Upper limit => 19070.0 Lower limit => -13760.0
previous skewness: 12.23125934985502
New skewness of Previous_Payment_May => 2.049777099741153
Upper limit => 15646.75 Lower limit => -11529.0
previous skewness: 10.640727325044317
New skewness of Previous_Payment_June => 1.8425945756784148

In [10]:
modified_df.skew()

Credit_Amount             0.440916
Gender                   -0.424183
Academic_Qualification    1.017944
Marital                  -0.018742
Age_Years                 0.732246
Repayment_Status_Jan      2.485379
Repayment_Status_Feb      2.488460
Repayment_Status_March    2.684191
Repayment_Status_April    3.213051
Repayment_Status_May      3.589727
Repayment_Status_June     3.495517
Jan_Bill_Amount           1.527639
Feb_Bill_Amount           1.632576
March_Bill_Amount         1.626987
April_Bill_Amount         1.669499
May_Bill_Amount           1.749921
June_Bill_Amount          1.749088
Previous_Payment_Jan      1.878646
Previous_Payment_Feb      1.741080
Previous_Payment_March    1.949059
Previous_Payment_April    1.744791
Previous_Payment_May      2.049777
Previous_Payment_June     1.842595
Default_Payment           1.343504
dtype: float64

In [11]:
list1 = ['Jan_Bill_Amount', 'Feb_Bill_Amount', 'March_Bill_Amount',
             'April_Bill_Amount', 'May_Bill_Amount', 'June_Bill_Amount', 'Previous_Payment_Jan',
             'Previous_Payment_Feb', 'Previous_Payment_March', 'Previous_Payment_April',
             'Previous_Payment_May', 'Previous_Payment_June']
for i in range(len(list1)):
    modified_df[list1[i]]=np.sqrt(modified_df[list1[i]])

C:\ProgramData\anaconda3\lib\site-packages\pandas\core\arraylike.py:402: RuntimeWarning: invalid value encountered in sqrt
  result = getattr(ufunc, method)(*inputs, **kwargs)

In [12]:
for i in range(len(list1)):
    print("skewness of ",list1[i]," => ",modified_df[list1[i]].skew())

skewness of  Jan_Bill_Amount  =>  0.756606712745249
skewness of  Feb_Bill_Amount  =>  0.5767015488267642
skewness of  March_Bill_Amount  =>  0.7857073711024068
skewness of  April_Bill_Amount  =>  0.7617962105334054
skewness of  May_Bill_Amount  =>  0.6822546332479436
skewness of  June_Bill_Amount  =>  0.6887715834967123
skewness of  Previous_Payment_Jan  =>  0.47604222342898034
skewness of  Previous_Payment_Feb  =>  0.5304870655100629
skewness of  Previous_Payment_March  =>  0.633011896148521
skewness of  Previous_Payment_April  =>  0.5427060196461958
skewness of  Previous_Payment_May  =>  0.6748995748721819
skewness of  Previous_Payment_June  =>  0.6538901821098818

def remove_skew():
    list1=['Credit_Amount','Age_Years','Jan_Bill_Amount','Feb_Bill_Amount','March_Bill_Amount', 'April_Bill_Amount','May_Bill_Amount', 'June_Bill_Amount','Previous_Payment_Jan','Previous_Payment_Feb','Previous_Payment_March','Previous_Payment_April', 'Previous_Payment_May','Previous_Payment_June']
    lIQR=[]
    lub=[]
    llb=[]
    ps=[]
    for i in range(len(list1)):
        ps.append(df[list1[i]].skew())
        IQR=df[list1[i]].quantile(0.75)-df[list1[i]].quantile(0.25)
        lIQR.append(IQR)
        ub=df[list1[i]].quantile(0.75)+3*IQR
        lub.append(ub)
        lb=df[list1[i]].quantile(0.25)-3*IQR
        llb.append(lb)
        print("Upper limit =>",lub[i],"Lower limit => ",llb[i])
        
        df[list1[i]] > lub[i] = lub[i]
        df[list1[i]] < llb[i] = llb[i]
        
        
        print("previous_skewness",ps[i]," New skewness of",list1[i]," => ",df[list1[i]].skew() )
    #print(llb)
remove_skew()